<div>
  

  <!-- <div class="card" style="width:100%; padding:3% ; ">

    <div class='container2'>
      <div class="left">
        <img src='../../../assets/person.jpg' class='iconDetails'>
      </div>
      <div class="right">
        <h6>Shubham uploaded a post</h6>
      </div>

    </div>

    <img class="card-img-top" src="../../../assets/download.jfif" alt="Card image">
    <hr />
    <div class="card-body">
      <h4 class="card-title">Shout Title</h4>
      <p class="card-text">Shout Caption</p>
      <a href="#" class="btn btn-primary">Report Shout</a>
    </div>
  </div>
  <hr /> -->
  <!--
  <div class="card" style="width:100%;padding:3%">
    <div class='container2'>
      <div class="left">
        <img src='../../../assets/person.jpg'  class='iconDetails'>
      </div>
      <div class="right">      
        <h6>Rahul uploaded a post</h6>       
      </div>
      
    </div>
    <img class="card-img-top" src="../../../assets/links for html css.PNG" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Shout Title</h4>
      <p class="card-text">Shout Caption</p>
      <a href="#" class="btn btn-primary">Report Shout</a>
    </div>
  </div>
  <hr />
  <div class="card" style="width:100%; padding:3% ;">
    <div class='container2'>
      <div class="left">
        <img src='../../../assets/person.jpg'  class='iconDetails'>
      </div>
      <div class="right">      
        <h6>Nidhi uploaded a post</h6>       
      </div>
      
    </div>
    <img class="card-img-top" src="../../../assets/person.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Shout Title</h4>
      <p class="card-text">Shout Caption</p>
      <a href="#" class="btn btn-primary">Report Shout</a>
    </div>
  </div> 
-->
<div >
  
  <div class="card" style="width:100%; padding:3% ; ">

    <div class='container2'>
      <div class="left">
        <img src='../../../assets/person.jpg' class='iconDetails'>
      </div>
      <div class="right">
        <h6>Welcome to ShoutNest</h6>
      </div>

    </div>

    <img class="card-img-top" src="../../../assets/download.jfif" alt="Card image">
    <hr />
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text">Hello<br/>
      <a href="#" class="btn btn-primary">Report Shout</a>
    </div>
  </div>
  <hr />
</div>

  <div *ngFor="let dataitem of shoutList">
    <div class="card" style="width:100%; padding:3% ; ">

      <div class='container2'>
        <div class="left">
          <img src='../../../assets/person.jpg' class='iconDetails'>
        </div>
        <div class="right">
          <h6>User {{dataitem.userId}} uploaded a post</h6>
        </div>

      </div>

      <img class="card-img-top" src="{{dataitem.path}}" alt="Card image">
      <hr />
      <div class="card-body">
        <h4 class="card-title">{{dataitem.path}}</h4>
        <p class="card-text">{{dataitem.caption}}<br/>
        <a href="#" class="btn btn-primary">Report Shout</a>
      </div>
    </div>
    <hr />
  </div>



</div>